.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @media screen and (max-width: $tab-port) {
    width: 100%;
    transform: skewX(0);
    padding: 4rem;
    padding-left: 7rem;
  }

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    float: left;
    background-color: orangered;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden;

    @media screen and (max-width: $tab-port) {
      transform: translateX(-3rem) skewX(0);
      margin-bottom: 2rem;
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);

    @media screen and (max-width: $tab-port) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all .5s;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}